services:
  app:
    image: listmonk/listmonk:latest
    restart: unless-stopped
    command: [sh, -c, "./listmonk --install --idempotent --yes --config '' && ./listmonk --upgrade --yes --config '' && ./listmonk --config ''"]
    depends_on:
      db:
        condition: service_healthy
    environment:
      - TZ=Europe/Berlin
      - LISTMONK_app__address=0.0.0.0:9000
      - LISTMONK_db__host=db
      - LISTMONK_db__port=5432
      - LISTMONK_db__user=listmonk
      - LISTMONK_db__password=listmonk
      - LISTMONK_db__database=listmonk
      - LISTMONK_db__ssl_mode=disable
      - CADDY_DOMAIN=${CADDY_DOMAIN}
      - CADDY_TYPE=${CADDY_TYPE:-external}
      - CADDY_PORT=${CADDY_PORT:-9000}
      - CADDY_TLS=${CADDY_TLS:-true}
    volumes:
      - app_uploads:/listmonk/uploads
    networks:
      - caddy
      - default


  db:
    image: pgautoupgrade/pgautoupgrade:latest
    restart: unless-stopped
    environment:
      - POSTGRES_USER=listmonk
      - POSTGRES_PASSWORD=listmonk
      - POSTGRES_DB=listmonk
    volumes:
      - db_data:/var/lib/postgresql
    networks:
      default:
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U listmonk"]
      interval: 10s
      timeout: 5s
      retries: 6
    labels:
      ofelia.restart: "true"
      ofelia.enabled: "true"
      ofelia.job-exec.listmonkdbbackup.schedule: "0 0 1 * * *"
      ofelia.job-exec.listmonkdbbackup.command: "sh -c 'pg_dumpall -U listmonk -f /var/lib/postgresql/backup.sql'"

volumes:
  app_uploads:
  db_data:

networks:
  caddy:
  default:
